<header class="navbar">
    <div class="navbar-left">
      <button mat-icon-button (click)="toggleSidebar()">
        <mat-icon>menu</mat-icon>
      </button>
      <div class="logo">
       
        <span class="logo-text">Transport Management System</span>
      </div>
    </div>
    
    <div class="navbar-right">
      <app-language-selector></app-language-selector>
      <button mat-icon-button class="notification-btn">
        <mat-icon>notifications</mat-icon>
        <span class="notification-badge">3</span>
      </button>
      
      <div class="user-profile">
    
        <div
        class="user-icon"
      style=" background-color: #1e40af" >
        {{ getInitials() }}
      </div>
      <span class="username" routerLink="/layout/profil">{{userName}}</span>
      
      </div>
      <div style="color:#1e40af;position: relative; margin-top: 6.5px;"><h2 (click)="logout()"><i class="fa-solid fa-right-from-bracket"></i></h2></div>
    </div>
  </header>