<header class="navbar">
    <div class="navbar-left">
      <button mat-icon-button (click)="toggleSidebar()">
        <mat-icon>menu</mat-icon>
      </button>
      <div class="logo">
        <img src="\assets\1744024818992_tm2-removebg-preview.png" alt="Logo" class="logo-image">
        <span class="logo-text">Transport Management System</span>
      </div>
    </div>
    
    <div class="navbar-right">
      <button mat-icon-button class="notification-btn">
        <mat-icon>notifications</mat-icon>
        <span class="notification-badge">3</span>
      </button>
      
      <div class="user-profile">
        <span class="username">{{userName}}</span>
        <div
        class="user-icon"
        [ngStyle]="{ 'background-color': getColor() }"
      >
        {{ getInitials() }}
      </div>
       
      </div>
    </div>
  </header>