@import '@angular/material/theming';
@include mat-core();
$primary: mat-palette($mat-blue, A700, A400, 900, #1e40af);
$accent: mat-palette($mat-amber, A200, A100, A400);
$warn: mat-palette($mat-red);
$theme: mat-light-theme((
  color: (
    primary: $primary,
    accent: $accent,
    warn: $warn,
  )
));
@include angular-material-theme($theme);